:root {
    --body-colour: #3E2F5D;
    --headings-color:#3E2F5D;
    --text-color: #3E2F5D;
    --alt-text: #ffffff;
    --links: #E7E1E1;
    --alternate-links: #951b58;
}

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
   /* margin: 0 auto;*/
    height: 100vh;
    /*overflow: hidden;*/
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: var(--body-colour);
    color: var(--alt-text)

}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 5%;
    /*gap: 2%;*/
}

.main {
    width: 100%;
    /*margin-left: 12%;*/
    /*padding-left: 5em;*/
}

.aside-div {
    width: 28%;
    /*height: 100dvh;*/
    z-index: 1;
    
}

.greeting {
    font-size: 11rem;
    margin-bottom: 0.5em;
}

.welcome {
    font-size: 5.5rem;
    color: var(--links);
    margin-bottom: 2em;
}

.navigation {
    display: flex;
    gap: 10em;
    z-index: 100;
}

.nav-list {
    width: 15rem;
    background-color: var(--alt-text);
    padding: 1em;
    border-radius: 15px;
    text-align: center;
}

.nav-items {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
}

img {
    display: block;
    /*margin-left: -10rem;*/
    border-radius: 100%;
}

.pic {
    border-radius: 100%;
    float: right;
    left: 1;
}





/*--------Media Query ---------*/

@media(max-width:1024px){
    
    body {
        /* margin: 0 auto;*/
         height: 100vh;
         overflow: hidden;
         font-family:Verdana, Geneva, Tahoma, sans-serif;
         background: var(--body-colour);
         color: var(--alt-text)
     
     }
     
     .container {
         display: flex;
         width: 90%;
         margin: 60px auto;
         /*padding: 5%;*/
         /*gap: 2%;*/
     }
     
     .main {
         width: 100%;
         /*margin-left: 12%;*/
         /*padding-left: 5em;*/
     }
     
     /*.aside-div {
         width: 28%;
         height: 100dvh;
         z-index: 1;
         
     }*/
     
     .greeting {
         font-size: 6rem;
         margin-bottom: 0.5em;
     }
     
     .welcome {
         font-size: 5.5rem;
         color: var(--links);
         margin-bottom: 2em;
     }
     
     .navigation {
         display: flex;
         gap: 12em;
         z-index: 100;
     }
     
     .nav-list {
         width: 10rem;
         background-color: var(--alt-text);
         padding: 1em;
         border-radius: 10px;
         text-align: center;
     }
     
     .nav-items {
         color: var(--text-color);
         font-size: 1.4rem;
         font-weight: bold;
         text-decoration: none;
     }

     .nav a {
        text-decoration: none;
    }
     
     /*img {
         display: block;
         margin-left: -10rem;
         border-radius: 100%;
     }*/
     
     .pic {
         border-radius: 100%;
         /*width: 50px;*/
         float: right;
         left: 1;
         border: 1px solid var(--links);
         background-color: var(--headings-color);
        }

}


@media(max-width:768px){
    
    body {
        /* margin: 0 auto;*/
         height: 100vh;
         overflow: hidden;
         font-family:Verdana, Geneva, Tahoma, sans-serif;
         background: var(--body-colour);
         color: var(--alt-text)
     
     }
     
     .container {
         display: flex;
         width: 96%;
         margin: 60px auto;
         /*padding: 5%;*/
         /*gap: 2%;*/
     }
     
     .main {
         width: 100%;
         /*margin-left: 12%;*/
         /*padding-left: 5em;*/
     }
     
     /*.aside-div {
         width: 28%;
         height: 100dvh;
         z-index: 1;
         
     }*/
     
     .greeting {
         font-size: 6rem;
         margin-bottom: 0.5em;
     }
     
     .welcome {
         font-size: 4.5rem;
         color: var(--links);
         margin-bottom: 1em;
     }
     
     .navigation {
         display: flex;
         gap: 6em;
         z-index: 100;
     }
     
     .nav-list {
         width: 10rem;
         background-color: var(--alt-text);
         padding: 1em;
         border-radius: 10px;
         text-align: center;
     }
     
     .nav-items {
         color: var(--text-color);
         font-size: 1.4rem;
         font-weight: bold;
         text-decoration: none;
     }

     .nav a {
        text-decoration: none;
    }
     
     /*img {
         display: block;
         margin-left: -10rem;
         border-radius: 100%;
     }*/
     
     .pic {
         border-radius: 100%;
         /*width: 50px;*/
         float: right;
         left: 1;
         border: 1px solid var(--links);
         background-color: var(--headings-color);
        }

}


@media(max-width:426px){
    
    body {
        /* margin: 0 auto;*/
         height: 100vh;
         overflow: hidden;
         font-family:Verdana, Geneva, Tahoma, sans-serif;
         background: var(--body-colour);
         color: var(--alt-text)
     
     }
     
     .container {
         display: flex;
         width: 100%;
         margin: 10px auto;
         /*padding: 5%;*/
         /*gap: 2%;*/
     }
     
     .main {
         width: 100%;
         /*margin-left: 12%;*/
         /*padding-left: 5em;*/
     }
     
     /*.aside-div {
         width: 28%;
         height: 100dvh;
         z-index: 1;
         
     }*/
     
     .greeting {
         font-size: 4rem;
         margin-bottom: 0.5em;
     }
     
     .welcome {
         font-size: 3rem;
         color: var(--links);
         margin-bottom: 2em;
     }
     
     .navigation {
         display: flex;
         gap: 2em;
         z-index: 100;
     }
     
     .nav-list {
         width: 8rem;
         background-color: var(--alt-text);
         padding: 0.6em;
         border-radius: 10px;
         text-align: center;
     }
     
     .nav-items {
         color: var(--text-color);
         font-size: 1.4rem;
         font-weight: bold;
         text-decoration: none;
     }

     .nav a {
        text-decoration: none;
    }
     
     /*img {
         display: block;
         margin-left: -10rem;
         border-radius: 100%;
     }*/
     
     .pic {
         width: 100%;
         border-radius: 100%;
         display: block;
        float: left;
         /*left: 1;*/
         margin: 0 auto;
         border: 1px solid var(--links);
         background-color: var(--headings-color);
         margin-bottom: 1em;
        }

}



@media(max-width:376px){
    
    body {
        /* margin: 0 auto;*/
         height: 100vh;
         overflow: hidden;
         font-family:Verdana, Geneva, Tahoma, sans-serif;
         background: var(--body-colour);
         color: var(--alt-text)
     
     }
     
     .container {
         display: flex;
         width: 100%;
         margin: 10px auto;
         /*padding: 5%;*/
         /*gap: 2%;*/
     }
     
     .main {
         width: 100%;
         /*margin-left: 12%;*/
         /*padding-left: 5em;*/
     }
     
     /*.aside-div {
         width: 28%;
         height: 100dvh;
         z-index: 1;
         
     }*/
     
     .greeting {
         font-size: 4rem;
         margin-bottom: 0.5em;
     }
     
     .welcome {
         font-size: 3rem;
         color: var(--links);
         margin-bottom: 2em;
     }
     
     .navigation {
         display: flex;
         gap: 2em;
         z-index: 100;
     }
     
     .nav-list {
         width: 8rem;
         background-color: var(--alt-text);
         padding: 0.6em;
         border-radius: 10px;
         text-align: center;
     }
     
     .nav-items {
         color: var(--text-color);
         font-size: 1.4rem;
         font-weight: bold;
         text-decoration: none;
     }

     .nav a {
        text-decoration: none;
    }
     
     /*img {
         display: block;
         margin-left: -10rem;
         border-radius: 100%;
     }*/
     
     .pic {
         width: 100%;
         border-radius: 100%;
         display: block;
        float: left;
         /*left: 1;*/
         margin: 0 auto;
         border: 1px solid var(--links);
         background-color: var(--headings-color);
         margin-bottom: 1em;
        }

}




@media(max-width:320px){
    
    body {
        /* margin: 0 auto;*/
         height: 100vh;
         overflow: hidden;
         font-family:Verdana, Geneva, Tahoma, sans-serif;
         background: var(--body-colour);
         color: var(--alt-text)
     
     }
     
     .container {
        padding-top: 6em;
         display: flex;
         width: 100%;
         margin: 10px auto;
         /*padding: 5%;*/
         /*gap: 2%;*/
     }
     
     .main {
         width: 100%;
         /*margin-left: 12%;*/
         /*padding-left: 5em;*/
     }
     
     /*.aside-div {
         width: 28%;
         height: 100dvh;
         z-index: 1;
         
     }*/
     
     .greeting {
         font-size: 4rem;
         margin-bottom: 1.5em;
     }
     
     .welcome {
         font-size: 3rem;
         color: var(--links);
         margin-bottom: 4em;
     }
     
     .navigation {
         display: flex;
         gap: 2em;
         z-index: 100;
     }
     
     .nav-list {
         width: 8rem;
         background-color: var(--alt-text);
         padding: 0.6em;
         border-radius: 10px;
         text-align: center;
     }
     
     .nav-items {
         color: var(--text-color);
         font-size: 1.4rem;
         font-weight: bold;
         text-decoration: none;
     }

     .nav a {
        text-decoration: none;
    }
     
     /*img {
         display: block;
         margin-left: -10rem;
         border-radius: 100%;
     }*/
     
     .pic {
         width: 100%;
         border-radius: 100%;
         display: block;
        float: left;
         /*left: 1;*/
         margin: 0 auto;
         border: 1px solid var(--links);
         background-color: var(--headings-color);
         margin-bottom: 4em;
        }

}